/* 
for the background, I searched for and tinkered with a bit of code that can be found here: 
    https://stackoverflow.com/questions/58391201/how-to-create-a-dotted-grid-graph-sheet-background-using-css

documentation for the radial-gradient() function can be found here:
    https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/radial-gradient
*/

body {
    background: radial-gradient(#f1f1f1 2px, transparent 1px) 0 0 / 15px 15px;
}

.not-a-form {
    display: inline-block;
    background: #000;
    color: #FFF;
    padding: 2em;
    margin: 2em;
    width: 15vw;
}

#display-text {
    padding: 0 2em;
    margin: 0 2em;
}

.navbar {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav, a {
    text-decoration: none;
    color: #000;
}